body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}

ul,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
	background: white !important;
	font: 12px/1.5 "\5FAE\8F6F\96C5\9ED1",  HELVETICA;
	min-width: 1200px;
	
}

img {
	border: 0;
}

*{ margin: 0;padding: 0;}
li,ul{list-style: none;}
img,input{border: 0;}
a{text-decoration: none;}
ol,
ul {
	list-style: none;
}

:link,
 :visited,
ins {
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	cursor: pointer;
}
/*注册*/
#sinupbg{
	margin:10px auto;
	height:600px;
	width: 100%;
	background: url(../img/bgtp4.jpg);
}
#sinup{
	height: auto;
	width: 810px;
top:20px;
background: white;


position: relative;
	margin: 0 auto;
}
#sinup .register-box{
	margin-bottom: 20px;
}
.register-box{
	border: 1px solid #ddd;
    margin-bottom: 22px;
    width: 410px;
    height: 55px;
   
    margin: 0 auto;
}
#sinup input{
	border:0px;
	
}
.register-box label{
	height: 52px;
    line-height: 52px;
    padding-left: 18px;
    display: inline-block;
}
#sendcode{
	text-indent: -5px;
}
.register-box input{
	width: 180px;
    height: 19px;
    padding-bottom:11px;
    padding-left: 20px;
    padding-top: 16px;
    font-size: 14px;
    color: #666;
    font-family: "Microsoft YaHei","Hiragino Sans GB";
}

.register-box .tips{
	position: absolute;
    margin-top: 5px;
    font-size: 14px;
    color: #ccc;
}
#sendcode{
	height: 47px;
	text-align: center !important;
background-color:#FFA500;
	width: 110px;
	margin-top: 4px;
	float: right;
}
#phonecode{
	height: 18px;

	width: 160px;
	
	
}

/*用户名*/
.register-box .username_label{
	word-spacing: 10px;
}
/*密码，确认密码，*/
.register-box .other_label{
	word-spacing: 2px;
}
/*手机号*/

.register-box .phone{
	padding-left: 18px;
}
/*验证码*/
#code{
	display: inline-block;
    width: 111px;
    height: 51px;
    position: relative;
    left: 11px;
  top: 2px;
    background-color: black;
    font-size: 25px;
    color: #fff;
    text-align: center;
    line-height: 52px;
}
/*协议*/
.arguement{
	margin-bottom: 58px;
height: 55px;
width: 410px;
margin: 0 auto;
}
.arguement input{

	vertical-align: middle;
}
.arguement a{
	color: #38f;
    text-decoration: none;
    font-size: 12px;
}
.sinuphead{
	height: 50px;
	width:95%;
	margin: 0 auto;
	border-bottom: dashed #E0E0E0 1px;
}
.sinuphead h1{
	line-height: 50px;
	color: #FF5B1E;
	font-size: 18px;
}
/*提交按钮*/
#submit_btn{
	width:410px;
    height: 54px;
    color: #fff;
    background: #e22;
    border: 0;
    margin: 0 auto;
    margin-top: -17px;
    font-size: 16px;
    font-family: "Microsoft YaHei","Hiragino Sans GB";
}
/*登陆css*/


/*登录*/
#loginbg{
	width: 100%;
	height:440px;
	background: url(../images/lm_fpwd_bg_1.jpg);
margin:10px auto;
}
.content{ width: 100%; height: auto;} 
.ucSimpleHeader{ height: 30px;margin: 0 auto;position: relative;padding-top: 45px;width: 1000px;}
#login{
position: relative;
top:40px;
background: white;
	width: 700px;
	height: 370px;
	
	margin:0 auto;
}
  


#login #content_change1{
	height: 300px;
	width: 500px;
	border: dashed;
	margin: 0 auto;
}
	

/*mainForm1*/
/*mainForm1*/

.mainForm {
position: relative;
top: 50px;
	width: 343px;
margin: 0 auto;
	overflow: hidden;
}

.number {
	font-size: 20px;
	margin-left: -5px;
	margin-bottom: 30px;
	width: 350px;
	text-align: center;
}

.number a {
	color: #FF5B1E;
	font-size: 16px;
}

.linkABlue:visited {
	color: #FF5B1E;
}

.linkAGray:hover {
	color: #FF5B1E;
}

.number span {
	color: #d9d9d9;
	display: inline-block;
	border: 1px solid #dadada;
	border-left: 1px;
	height: 16px;
	line-height: 20px;
	margin-right: 50px;
	margin-left: 50px;
}

.normalInput {
	float: left;
	position: relative;
	display: inline-block;
	padding: 0px 10px;
	width: 320px;
	height: 50px;
	line-height: 22px;
	font-size: 16px;
	margin-bottom: 20px;
	border: 1px solid #dadada;
	outline: none;
	color: #474747;
	overflow: visible;
}

.error {
	display: none;
	margin-left: 0px;
	margin-bottom: 10px;
	color: red;
	float: left;
	position: relative;
	top: -11px;
}


/*#mainForm1 .normalInput input,#mainForm2 .normalInput input{line-height: 22px;padding: 14px 0;height: 22px;}*/

.normalInput input {
	font-size: 16px;
	width: 100%;
	padding: 14px 0;
	height: 22px;
}

.errorC {
	margin-bottom: 10px;
	border-color: red;
	color: red;
}

.checkedN {
	border: 1px solid #1ece6d;
}

.formLine {
	color: #d9d9d9;
	height: 40px;
	display: inline-block;
	border-left: 1px solid #dadada;
	position: absolute;
	right: 100px;
	top: 5px;
}

#getKey {
	width: 90px;
	border: none;
	outline: none;
	height: 13px;
	cursor: pointer;
	
	font-size: 12px;
	position: absolute;
	right: 10px;
	top: 4px;
}

.i_icon {
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: hidden;

}

.normalInput .password {
	float: left;
	width: 200px;
}

.normalInput .password1 {
	float: left;
	width: 200px;
	display: none;
}

.normalInput .passwordN {
	float: left;
	width: 200px;
	display: block;
}

.normalInput .password1N {
	float: left;
	width: 200px;
	display: none;
}

.pwdBtnShow {
	outline: none;
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	overflow: hidden;
	float: right;
	margin-right: 5px;
}

#pwdBtn {
	margin-top: 13px;
	margin-bottom: 10px;
}

.pwdBtnShow i {
	background-image:url(../images/elements.png);
	background-position: -30px -93px;
	background-repeat: no-repeat;
}

.pwdBtnShowN {
	outline: none;
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	overflow: hidden;
	float: right;
	margin-right: 5px;
}

#pwdBtnN {
	margin-top: 13px;
	margin-bottom: 10px;
}

.pwdBtnShowN i {
	background-image:url(../images/elements.png);
	
	background-position: -30px -93px;
	background-repeat: no-repeat;
}

.rememberField {
	margin-bottom: 30px;
	height: 20px;
	line-height: 20px;
	float: left;
	display: block;
}

.checkboxPic {
	outline: none;
	display: inline-block;
	width: 25px;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
	vertical-align: middle;
	overflow: hidden;
}

.check_chk i {
	background-position: -31px -127px;
	background-image:url(../images/elements.png);
	background-repeat: no-repeat;
}

.pointer {
	cursor: pointer;
}

.otherError {
	display: none;
	margin-left: 0px;
	margin-bottom: 20px;
	color: red;
	float: left;
}

.fullBtnBlue {
	display: inline-block;
	height: 50px;
	width: 342px;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	margin-bottom: 20px;
	outline: none;
	cursor: pointer;
	background-color: #FF7B00;
	color: #fff;
	border:0px;}


/*mainForm1end*/


/*mainForm2*/

.linkAGray2:visited {
	color: #FF5B1E;
}

.linkABlue2:hover {
	color: #2b2b2b;
}

.normalInput .username {
	width: 220px;
	border: none;
	outline: none;
	font-size: 16px;
	height: 22px;
	line-height: 22px;
	padding: 14px 0;
}

.grayTip {
	height: 50px;
	line-height: 50px;
	vertical-align: top;
	display: inline-block;
	color: #7f7f7f;
}


/*mainForm2end*/

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 130px;
	border-top: solid 1px #E5E6E7;
	background-color: #fff;
	color: black;
	top: 669px;
}

.footerInner {
	width: 1000px;
	margin: 24px auto 30px;
}

.footerLayer1 {
	height: 50px;
	line-height: 50px;
}

.footerInnerLink {
	float: left;
}

.footerInnerLink a {
	color: black;
}

.foot-line {
	background-color: #888;
	margin: 0px 5px;
	width: 1px;
	height: 10px;
}

.footerLanguage {
	position: relative;
	overflow: hidden;
	cursor: default;
	background:url(../images/elements.png);-30px -150px no-repeat;
}

.footerService {
	float: left;
	margin-left: 36px;
}

.serviceLabel {
	margin-right: 10px;
}

.serviceNum {
	margin-right: 20px;
}

.serviceOnline {
	display: inline-block;
	height: 20px;
	line-height: 18px;
	width: 64px;
	color: white;
	background-color: #32a5e7;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	text-align: center;
}

.footerOuterLink {
	position: relative;
	float: right;
	padding-top: 9px;
}

.footerOuterLink a {
	margin-left: 10px;
	display: inline-block;
	overflow: hidden;
	width: 32px;
	height: 32px;
}

.footerOuterLink i {
	background:url(../images/elements.png) no-repeat;
	
}

.footerSinaMblog i {
	background-position: -168px -91px;
}

.footerTencentMblog i {
	background-position: -210px -91px;
}

.footerWeChat i {
	background-position: -252px -91px;
}

.footerQzone i {
	background-position: -294px -91px;
}

.footerSinaMblog:hover i {
	background-position: -168px -137px;
}


/*只能作用于自身或子元素加  ~(通用兄弟选择器)   可以作用于兄弟元素*/

.footerTencentMblog:hover i {
	background-position: -210px -137px;
}

.footerWeChat:hover i {
	background-position: -252px -137px;
}

.footerQzone:hover i {
	background-position: -294px -137px;
}

.wechatPic {
	position: absolute;
	z-index: 100;
	width: 310px;
	height: 270px;
	background:url(../images/elements.png) no-repeat;
	left: -38px;
	top: -267px;
	display: none;
}

.footerWeChat:hover~.wechatPic {
	display: block;
}

.footerLanguagMenuBox {
	display: inline-block;
}

.footerLanguagMenu {
	left: 474.5px;
	bottom: 89px;
	display: none;
	box-shadow: 0px 0px 10px #E1E4E8;
	border-radius: 2px;
	background-color: #FEFEFE;
	position: absolute;
	border: solid 1px #E1E4E8;
	overflow: hidden;
	width: 140px;
	height: 200px;
	z-index: 10;
}

.footerLanguagMenu a {
	display: block;
	height: 40px;
	line-height: 40px;
	width: 118px;
	margin: 0px auto;
	border-bottom: solid 1px #E4E7E9;
	font-size: 14px;
	color: #000000;
	text-align: left;
	padding-left: 10px;
}

.footerLanguagMenu .checked,
.footerLanguagMenu .checked:hover {
	color: #1daeed;
}

.footerLanguagMenu .ClobalItem:hover {
	color: #515151;
}

#globalContainer a:nth-child(5): {
	border-width: 0px;
}

.footerLanguagMenuBox:hover #globalContainer {
	display: block;
}

;
.copyrightWrap {
	width: 100%;
}

.copyrightInner {
	width: 1000px;
	margin: 0px auto;
	overflow: hidden;
}

.copyrightInner span {
	color: #a2a2a2;
	float: left;
}

.copyrightInner a {
	float: left;
	color: #a2a2a2;
	margin-left: 6px;
	white-space: nowrap;
}


/*white-space 属性设置如何处理元素内的空白。*/

#mz_Float {
	position: absolute;
	z-index: 1000;
	top: -376px;
	left: 851px;
	width: 200px;
	display: block;
}

.mz_FloatBox {
	position: relative;
}

.mz3AngleL {
	z-index: 1;
	position: absolute;
	width: 10px;
	height: 16px;
	top: 10px;
	left: -1px;
	overflow: hidden;
}

.mz3AngleL i {
	background-position: 0px -96px;
	background:url(../images/elements.png) no-repeat;
	background-repeat: no-repeat;
}

.mzFloatTip {
	width: 170px;
	padding: 6px 10px 6px 10px;
	background-color: #fff;
	position: absolute;
	right: 0px;
	color: #515151;
	border: solid 1px #E5E5E5;
}

.bRadius2 {
	border-radius: 2px;
	outline: medi um none;
}

.mail {
	box-shadow: 0 0 15px #141414;
	width: 340px;
	border: solid 1px silver;
	position: absolute;
	z-index: 10;
	left: 503px;
	top: 429px;
	display: none;
}

.mail .item {
	background-color: #fff;
	color: #515151;
	cursor: pointer;
	height: 22px;
	line-height: 22px;
	letter-spacing: 1px;
	font-size: 13px;
	padding-left: 5px;
}
#Rebg .inputxt{
	border: #E0E0E0 solid;
	border-width: 1px;
	
}

/*letter-spacing字符间距*/

.mail .item:hover {
	background-color: #ccc;
	color: #fff;
}

.mainForm2 {
	display: none;}

       
       
        
     

	
/*	登录css结束*/
/*密码找回重置*/
#Rebg{
	margin-top: 10px;
	height: 370px;
	width: 100%;
	background: url(../images/lm_fpwd_bg_1.jpg);
}
#retrieve{
position: relative;
top:25px;
		width: 700px;
		height: 300px;
	margin: 0 auto;
	background: white;
	
	}
#retrieve p{
text-align: center;
	line-height: 65px;
	}
#retrieve .y1{
	color:#666666;
	font-size: 19px;
	float: left;
	margin-left: 5px;
	}
	#retrieve .y2{
	color:#666666;
	
	float: right;
	margin-left: 5px;
	}
		#retrieve .y3{
	color:#666666;
	
	float: right;
	margin-left: 5px;
	}
	#mobile3{
		height: 35px;
		width: 180px;
	
	}
	
#tab1 { position:relative; width:100px;margin: 35px;
}
#tab1 h3 { position:relative;color: #666666; z-index:1; height:56px; padding-top:4px; margin-bottom:3px; border:solid #ccc; border-width:1px 0 1px 1px; text-align:center; font-family:宋体; background:#eee; cursor:pointer;line-height: 55px; }
#tab1 h3.up { z-index:3; color:#FF5B1E; background:#fff; }
#tab1 div.tab { display:none; position:absolute; left:99px; top:0; z-index:2; width:400px; height:200px; padding:5px; border:solid 1px #ccc; color:#666; }
#tab1 div.tab.up { display:block; }

.tab p{
	margin: 20px;
}
#btnSendCode4{
	height: 35px;
	width: 95px;
	margin-left: 5px;
	padding-left: -5px;
}
#login1{
	margin-left: 50px;
}



#email{
	width: 182px;
	height: 35px;
}
.wushi .sed{
	text-align: center;line-height: 35px;
	width: 182px;
	height: 35px;
	background-color: #FF5B1E;
	color:white;
	cursor: pointer;
	margin-left: 52px;
}


/*设置新密码*/
#yw0{width:95px;}
.sy_main{width:1000px; margin:0 auto}
.sy_login_logo{height:102px;}
.sy_login_logo i{margin-top:27px; margin-right:17px; background:url(../images/sy_logo.png) no-repeat; width:190px; height:46px;}
.sy_login_logo span{position:relative; top:20px;}
.sy_login_bg{width:100%; margin: 10px auto; height: 400px; border-top:1px solid #d7d7d7; background:url(../images/lm_fpwd_bg_1.jpg); padding-bottom:40px;}
.login_right{width:700px;  float:none; margin:0 auto; margin-top:29px;}
.sy_login_main{background:url(../images/sy_login_center.png) repeat-y; padding:0 10px; height: 350px; }
.login_right h1{font-size:24px; color:#666; font-weight:100; height:70px; border-bottom:1px dashed #e0e2e4; line-height:70px; text-indent:35px}
.bd_warp{width:360px; margin:0 auto; padding-top:42px; padding-bottom:38px;}
.icon_login_sy{background:url(../images/sy_icon.png) 0 0; width:20px; height:19px; margin-right:14px;}
.bd_warp .input_focus{color:#999 !important}
#yzm_check a{position:relative; top:-15px; left:10px}
.bd_warp ul li{margin-top: 15px;}
.bd_warp ul li em{position:absolute; top:8px; left:0px; font-size:14px; color:#888; display:inline-block; width:42px; height:30px; text-indent:12px; line-height:30px;}
.sy_login_bottom{text-align:center; padding:20px 0 25px 0px; color:#999; line-height:28px;}
.sy_login_bottom a{color:#999; padding:0px 2px}
.sy_login_bottom a:hover{color:#ff6565}
.sy_main .input_txt{
	border:#E0E0E0 solid;
	border-width: 1px;
}
#LoginForm_username{
	height: 35px;
	width: 300px;
}
#LoginForm_password{
	height: 35px;
	width: 300px;
}
#muyee_newpassword{
	background-color: #FF5B1E;
	height: 40px;
	color: white;
	width: 300px;
	border: 0px;
}






































/*
重置密码css*/
#resset{
	height:520px;
	width:100%;
	margin-top: 10;
	
	background:url(../images/lm_fpwd_bg_1.jpg);
	
}
#resset .rs{
	height: 350px;
	width: 400px;
	background-color: white !important;
margin: 0 auto;
position: relative;
top: 50px;
}



#resset .wd a{
	color: #666666;
	
	font-size: 15px;}
#resset .ss{
	height: 30px;
	width: 210px;
	}
	#regis{
		background-color: #FF5B1E;
		color: white;
		width: 210px;
		height:35px;
		border: 0px;
		margin-left: 63px;
	}
	/*提示页面*/
	#muyee_tip{
		position: relative;
	top: 10px;
		background:url(../img/timg1.png);
		height: 325px;
		width: 600px;
		
		margin: 0 auto;
		background-size: 100% 100%;
	}
	#muyee_tip .tip{
		position: relative;
top: 50px;

		height: 200px;
		width: 350px;
	
		margin:  0 auto;
		}
	#muyee_tip .tip a{
		color: #FF5B1E;
		font-size: 15px;
		}
		#muyee_tip .tip p{
			line-height: 35px;
		}
		